.all-done {
    background-color: #009F00;
}

.not-all-done {
    background-color: #E03338;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: wheat;
}

.react-calendar__tile {
    border-radius: 50%;
}

.react-calendar__tile:disabled {
    background-color: inherit;
    color: #000000;
} 

.react-calendar__month-view__days__day--weekend:disabled {
    color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled {
    color: #757575;
}